section#series_oop {
    padding: 40px 30px;
    background-color: #EBECF0;

    .intestazione {
        h2 {
            font-family: 'Cabin', sans-serif;
            font-weight: 400;
            margin-bottom: 10px!important;
        }
        p {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 1.1rem;
            
        }
    }
    .singolo{
      background-color: #F3F3F3;
      border-radius: 0.9rem;
      margin: 30px auto;
        .contenuto {
            padding: 30px 45px;
            h3{
                font-weight: 400;
                font-family: 'Cabin', sans-serif;
                font-size: 1.2rem;
            }
            p{
                font-family: 'Poppins', sans-serif;
                color: gray;
                font-size: 0.8rem;
            }
            .info{
                color: #C3CAD0;
                span{
                    font-weight: 500;
                    font-family: 'Poppins', sans-serif;
                    font-size: 0.6rem;
                    margin-right: 15px;
                }
                i{
                    margin-right: 7.5px;
                }
            }
            .start{
                padding:7.5px 0;
                width: 208px;
                border: none;
                background-color: #EDEDED;
                font-weight: 500;
                font-family: 'Poppins', sans-serif;
                font-size: 0.9rem;
                i{
                    margin-right: 7.5px;
                }
            }
        }
        .immagine{
            position: relative;
            overflow: hidden;
            border-radius: 0.9rem;
            img{
                width: 140%;
                right: 40px;
                top: -20px;
                position: absolute;
            }

        }
    }
}
