
    .singolo, #series_master_editor, #series_updated, #series_featured, #series_learn_a_tool {
      background-color: white;
      border-radius: 0.9rem;
      margin: 30px auto;
        .contenuto {
            padding: 30px 45px;
            .tag{
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                font-size: 0.7rem;
                color: white;
                padding: 6px 11.5px;
                border: none;
            }
            h3{
                font-weight: 400;
                font-family: 'Cabin', sans-serif;
                font-size: 1.7rem
            }
            p{
                font-family: 'Poppins', sans-serif;
                color: gray;
            }
            .info{
                color: #C3CAD0;
                img {
                    width: 7px;
                    height: 18px;
                    margin-right: 7.5px;
                }
                .container_difficulty{
                    width: 66px;
                    height: 30px;
                    display: flex;
                    flex-direction: row;
                }
                span{
                    font-weight: 500;
                    font-family: 'Poppins', sans-serif;
                    font-size: 0.6rem;
                    margin-right: 15px;
                }
                i{
                    margin-right: 7.5px;
                }
            }
            .start{
                padding:7.5px 0;
                width: 208px;
                border: none;
                background-color: #EDEDED;
                font-weight: 500;
                font-family: 'Poppins', sans-serif;
                font-size: 0.9rem;
                i{
                    margin-right: 7.5px;
                }
            }
        }
        .immagine{
            position: relative;
            overflow: hidden;
            border-radius: 0.9rem;
            img{
                width: 110%;
                right: -185px;
                top: -55px;
                position: absolute;
            }

        }
    }

