section{
    padding: 40px 30px;
    background-color: #EBECF0;

    .intestazione{
          h2{
        font-family: 'Cabin', sans-serif;
        font-weight: 400;
        }

        p{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        color: pink;
        }
    }
    
  



}

